.icon-user {
	background-image: url(../icons/user.png) !important;
}

.icon-user-add {
	background-image: url(../icons/user_add.gif) !important;
}

.icon-save {
	background-image: url(../icons/save.gif) !important;
}

.icon-cancel {
	background-image: url(../icons/cross.gif) !important;
}

.icon-stop {
	background-image: url(../icons/stop.png) !important;
}

.icon-grid {
	background-image: url(../icons/grid.png) !important;
}

.icon-add {
	background-image: url(../icons/add.png) !important;
}

.icon-delete {
	background-image: url(../icons/delete.png) !important;
}

.icon_edit {
	background-image: url(../icons/cog_edit.png) !important;
}

.icon-edit {
	background-image: url(../icons/edit.png) !important;
}

.icon-image {
	background-image: url(../icons/image_add.png) !important;
}

.icon-attach {
	background-image: url(../icons/attach.png) !important;
}

.icon-accept {
	background-image: url(../icons/accept.png) !important;
}

.icon-reset {
	background-image: url(../icons/undo_blue.png) !important;
}

.icon-search {
	background-image: url(../icons/search.png) !important;
}

.icon-excel {
	background-image: url(../icons/excel.png) !important;
}

.icon-view {
	background-image: url(../icons/details.gif) !important;
}

.icon-identify {
	background-image: url(../icons/paintbrush.png) !important;
}

.icon-pictures {
	background-image: url(../icons/pictures.png) !important;
}

.icon-disarm {
	background-image: url(../icons/arrow_switch.png) !important;
}

.icon-export {
	background-image: url(../icons/page_copy.png) !important;
}

.icon-bell {
	background-image: url(../icons/bell.png) !important;
}

.icon-bell-ring {
	background-image: url(../icons/bell.gif) !important;
}

.icon-help {
	background-image: url(../icons/help.png) !important;
}

.icon-logout {
	background-image: url(../icons/exit.png) !important;
}

.icon-loading {
	background-image: url(../icons/loading.gif) !important;
}

.icon-download {
    background-image: url(../icons/download.gif) !important;
}
.icon-email_go {
    background-image: url(../icons/email_go.png) !important;
}
.icon-grid {
    background-image: url(../icons/grid.png) !important;
}
