<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cictec.web.fuel.dao.CollectDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.cictec.web.fuel.model.CollectDevice" >
    <id column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_num" property="deviceNum" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="gas_station_id" property="gasStationId" jdbcType="VARCHAR" />
    <result column="gas_station" property="gasStation" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="VARCHAR" />
    <result column="device_imei" property="deviceImei" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    device_id, device_name, device_num, status, gas_station_id, gas_station, created,device_imei
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_collect_device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </select>
  
   <select id="selectByDeviceImei" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_collect_device
    where device_imei = #{deviceImei,jdbcType=VARCHAR}
  </select>
  
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.cictec.web.fuel.model.CollectDevice" >
    select 
    <include refid="Base_Column_List" />
    from t_collect_device
    <where>  
        <if test="deviceName != null" >
          and device_name like '%' || #{deviceName} || '%' 
        </if>  
         <if test="deviceNum != null" >
          and device_num like '%' || #{deviceNum} || '%'  
        </if>
        <if test="status != null" >
          and status = #{status,jdbcType=SMALLINT}
        </if>
        <if test="gasStation != null" >
          and gas_station like '%' || #{gasStation} || '%'   
        </if>
    </where>
        
  </select>
  
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_collect_device
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKeyList"  parameterType = "java.util.List" >
    delete from t_collect_device
    where device_id in 
    <foreach collection="list" item = "deviceId" open="(" separator="," close=")">
            #{deviceId}  
    </foreach>  
  </delete>
  
  
  <insert id="insert" parameterType="com.cictec.web.fuel.model.CollectDevice" >
    insert into t_collect_device (device_id, device_name, device_num, 
      status, gas_station_id, gas_station, 
      created,device_imei)
    values (#{deviceId,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{deviceNum,jdbcType=VARCHAR}, 
      #{status,jdbcType=SMALLINT}, #{gasStationId,jdbcType=VARCHAR}, #{gasStation,jdbcType=VARCHAR}, 
      #{created,jdbcType=VARCHAR},#{deviceImei,idbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cictec.web.fuel.model.CollectDevice" >
    insert into t_collect_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceNum != null" >
        device_num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gasStationId != null" >
        gas_station_id,
      </if>
      <if test="gasStation != null" >
        gas_station,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="deviceImei != null" >
        device_imei,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null" >
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNum != null" >
        #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="gasStationId != null" >
        #{gasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasStation != null" >
        #{gasStation,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=VARCHAR},
      </if>
      <if test="deviceImei != null" >
        #{deviceImei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cictec.web.fuel.model.CollectDevice" >
    update t_collect_device
    <set >
      <if test="deviceName != null" >
        device_name = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="deviceNum != null" >
        device_num = #{deviceNum,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="gasStationId != null" >
        gas_station_id = #{gasStationId,jdbcType=VARCHAR},
      </if>
      <if test="gasStation != null" >
        gas_station = #{gasStation,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=VARCHAR},
      </if>
       <if test="deviceImei != null" >
        device_imei = #{deviceImei,jdbcType=VARCHAR},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cictec.web.fuel.model.CollectDevice" >
    update t_collect_device
    set device_name = #{deviceName,jdbcType=VARCHAR},
      device_num = #{deviceNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      gas_station_id = #{gasStationId,jdbcType=VARCHAR},
      gas_station = #{gasStation,jdbcType=VARCHAR},
      created = #{created,jdbcType=VARCHAR},
      device_imei = #{deviceImei,jdbcType=VARCHAR}
    where device_id = #{deviceId,jdbcType=VARCHAR}
  </update>
</mapper>